html, body, p, h1 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 110%;
}

a {
	color: grey;
}

code {
	display: block;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	font-family: monospace;
	background-color: #2C2D25;//#1b2426;
	color: white;
	padding: 0;
	margin: 0;
	line-height: 100%;
}

/* as demo http://tutsplus.github.io/syntax-highlighter-demos/prism_okaidia.html */
/* http://codepen.io/zephyr/pen/MewjYd */
/* https://github.com/lopeax/microlight */

.attributes { /* TODO */
	color: #a6e22e;
}
.functions { /* TODO functions */
	color: #e6db74;
}
.braces { /* TODO braces */
	color: white;
}

/* old styles */
.tokens {
	color: #FA2C7D;
}
.numbers {
	color: #9888FF;
}

.keywords {
	color: #FA2C7D;
}
.punctuation {
	color: white;
}
.strings {
	color: #E9E07F;
}
.comments {
	color: #807D69;
}

/* new styles */
.attributes { /* TODO */
	color: #a6e22e;
}
.functions { /* TODO functions */
	color: #e6db74;
}
.brace {
	color: white;
}
.operator,
.token,
.html {
	color: #FA2C7D;
}
.color,
.boolean,
.number {
	color: #9888FF;
}
.string {
	color: #E9E07F;
}
.comment {
	color: #807D69;
}
// .color:after {
// 	background-color: attr(data-color);
// 	width: 10px;
// 	height: 10px;
// 	content: "";
// }
